<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalonia" version="11.0.0" targetFramework="net48" />
  <package id="Avalonia.BuildServices" version="0.0.29" targetFramework="net48" />
  <package id="Avalonia.Controls.PanAndZoom" version="11.0.0" targetFramework="net48" />
  <package id="Avalonia.Remote.Protocol" version="11.0.0" targetFramework="net48" />
  <package id="Avalonia.Xaml.Behaviors" version="11.0.0" targetFramework="net48" />
  <package id="Avalonia.Xaml.Interactions" version="11.0.0" targetFramework="net48" />
  <package id="Avalonia.Xaml.Interactions.Custom" version="11.0.0" targetFramework="net48" />
  <package id="Avalonia.Xaml.Interactions.DragAndDrop" version="11.0.0" targetFramework="net48" />
  <package id="Avalonia.Xaml.Interactions.Draggable" version="11.0.0" targetFramework="net48" />
  <package id="Avalonia.Xaml.Interactions.Events" version="11.0.0" targetFramework="net48" />
  <package id="Avalonia.Xaml.Interactions.Reactive" version="11.0.0" targetFramework="net48" />
  <package id="Avalonia.Xaml.Interactions.Responsive" version="11.0.0" targetFramework="net48" />
  <package id="Avalonia.Xaml.Interactivity" version="11.0.0" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="MicroCom.Runtime" version="0.11.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net48" version="1.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="8.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WeifenLuo.WinFormsUI.Docking" version="2.1.0" targetFramework="net48" />
</packages>